<!DOCTYPE html>
<html>
  <%- include('_head', {meta: {title: "オンラインボッチャ　ログイン"}}) %>
  <body>
    <div class="wrap">
      <div class="print">
        <div class="led">
          <h3>オンラインボッチャへようこそ！</h3>
          <br><br>
          <form method="POST" action="/boccia">
              <button id="btnStart1" class = "login_btn" type="submit" formmethod="post">1号機 </button>
              <input type="hidden" id="loginState1"  name="loginState1" value="<%= loginState1 %>"/>
          </form>
          
    <hr />
    -----message log-------
    <div data-name="chat"></div>
        </div>
      </div>
    </div>
    <script src="/javascripts/login.js"></script>
  </body>
</html>
