<!DOCTYPE html>
<html>
  <%- include('_head', {meta: {title: "オンラインボッチャ　ログイン"}}) %>
  <body>
    <h1>オンラインボッチャにようこそ！</h1>
    
    <form method="POST" action="/boccia">
      <div>
        <label for="aikotoba">合言葉は？：</label>
        <input type="text" id="aikotoba" name="aikotoba" />
      </div>
      <input type="submit" value="ログイン" class="btn cp_btn"/>
    </form>
    <% if (message && message.length !== 0) { %>
      <div><%= message %></div>
    <% } %>
  </body>
</html>
