<!DOCTYPE html>
<html>
  <%- include('_head', {meta: {title: "オンラインボッチャ　ログイン"}}) %>
  <body>
    <div class="wrap">
      <div class="print">
        <div class="led">
          <h3>オンラインボッチャへようこそ！</h3>
          <br><br>
          <form method="POST" action="/boccia">
            <div>
              <input type="text" id="aikotoba" name="aikotoba"  value="" placeholder="合言葉は？"/>
              <input type="submit" value="ログイン" class = "Sblue_btn"/>
            </div>
          </form>
          <% if (message && message.length !== 0) { %>
            <div><span class="error"><%= message %></span></div>
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
